body {
    background: #f9fbff;
}

body, h1, h2, h3, h4, h5, h6, dl, dd, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none
}

@media screen and (min-width:450px) {
    .chartsbox {
        float: left;
        width: 100%;
        height: 400px;
        margin-bottom: 15px;
    }
    .datalist {
        float: left;
        width: 480px;
        height: 100%
    }
    .datalist ul {
        overflow: hidden;
    }
    .datalist li {
        position: relative;
        float: left;
        width: 222px;
        margin-left: 10px;
        height: 148px;
        border-radius: 4px;
        background: #ffffff;
    }
    .datalist .tips {
        font-size: 18px;
        line-height: 60px;
        margin: 20px 20px 20px 10px;
        text-align: center;
        color: #e65f5f;
        background: #ffe2e2;
        border-radius: 4px;
    }
    .datalist li div {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        padding: 20px
    }
    .datalist li img {
        width: 24px;
        margin-right: 12px;
        vertical-align: middle;
    }
    .datalist li div p {
        color: #5f7295;
        font-size: 16px;
        line-height: 60px;
    }
    .datalist li div .dataNum {
        display: inline-block;
        text-indent: 36px
    }
    .echartsbox {
        float: left;
        width: 720px;
        height: 100%;
        background: #ffffff;
    }
    .echartspie {
        float: left;
        width: 480px;
        height: 310px;
    }
    .echartslist {
        float: left;
    }
    .echartsbox .echartsTit {
        margin: 30px;
        font-size: 16px;
        color: #5f7295;
    }
    .echartspie div {
        width: 260px;
        height: 260px;
    }
    .echartsbox ul {
        float: left;
        margin-top: 110px;
    }
    .echartsbox li {
        height: 40px;
        line-height: 40px;
        color: #5f7295
    }
    .echartsbox .color {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%
    }
    .echartsbox li .text {
        display: inline-block;
        text-indent: 12px;
        width: 72px;
    }
}

@media screen and (max-width:450px) {
    .chartsbox {
        width: 9.25rem;
        margin-bottom: .46875rem
    }
    .datalist {
        width: 100%;
    }
    .datalist ul {
        overflow: hidden;
    }
    .datalist li {
        position: relative;
        float: left;
        margin: 0 .1875rem 0 0;
        width: 4.4375rem;
        height: 2.75rem;
        border-radius: .125rem;
        background: #ffffff;
    }
    .datalist .tips {
        font-size: .4375rem;
        line-height: 1rem;
        margin: .375rem .1875rem .375rem .1875rem;
        text-align: center;
        color: #e65f5f;
        background: #ffe2e2;
        border-radius: .125rem;
    }
    .datalist li div {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        padding: .375rem;
        margin: auto;
    }
    .datalist li img {
        width: .5rem;
        margin-right: .375rem;
        vertical-align: middle;
    }
    .datalist li div p {
        color: #5f7295;
        font-size: .375rem;
        line-height: 1.125rem;
    }
    .datalist li div .dataNum {
        display: inline-block;
        text-indent: .8125rem
    }
    .echartsbox {
        margin-top: .3125rem;
        width: 9.25rem;
        height: 12.4375rem;
        background: #ffffff;
    }
    .echartspie {
        width: 6.875rem;
        height: 6.875rem;
        margin: auto;
    }
    .echartsbox .echartsTit {
        line-height: 1.875rem;
        font-size: .5rem;
        text-indent: .6875rem;
        color: #5f7295;
    }
    .echartspie div {
        width: 5rem;
        height: 5rem;
    }
    .echartsbox ul {
        overflow: hidden;
    }
    .echartsbox li {
        float: left;
        height: 1.25rem;
        width: 3.4375rem;
        margin: .21875rem 0 .21875rem 1.125rem; 
        color: #5f7295
    }
    .echartsbox .color {
        display: inline-block;
        width: 12px;
        height: 12px;
        border-radius: 50%
    }
    .echartsbox li .text {
        display: inline-block;
        text-indent: .3125rem;
    }
    .echartsbox li .echartsdata{
        display: block;
        text-indent: .75rem;
        line-height: 1rem;
        font-weight: bold
    }
}